@model LAB5.Models.Brand

<h2>Brand Details</h2>
<div>
    <h4>@Model.BrandName</h4>
    <p>@Model.BrandDescription</p>
    <p>@Model.OtherBrandDetails</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
